*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body{
  background-color: gray;
}
header{
  line-height: 110px;
}

.centralizar{
  display: flex;
  justify-content: center;
}
.alinhamento{
  display: block;
}
.escolha{
  margin-top: 50px;
  display: flex;
  flex-wrap: nowrap;
}
.bloco{
  margin: 5px;
}
.bloco img{
  width: 100px;

}
.bloco2{
  margin: 5px;
}
.bloco2 img{
  width: 150px;
}

footer{
  text-align: center;
  padding: 10px 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.alinhamentoplacar{
  font-size: 1.5em;
}
.alinhamentoH{
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.centralizarT{
  text-align: center;
  margin-top: 20px;
}

.botao{
  display: flex;
  justify-content: center;
  color: black;
  box-shadow: 20px;
  margin: 10px;
  background-color: rgb(55, 58, 64);
  border-radius: 20px;
  line-height: 35px;
}

.botao a{
  color: white;
  font-size: 20px;
}